{
    "presets": [
        "@babel/env"
    ],
    "plugins": [
        "@babel/syntax-jsx",
        "@babel/syntax-dynamic-import",
        "@babel/proposal-object-rest-spread",
        ["@babel/transform-runtime", {
            "moduleName": "@babel/runtime"
        }]
    ]
}
